body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.currency-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.currency-select {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-select img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.currency-select select {
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    outline: none;
    cursor: pointer;
}

input {
    margin-top: 10px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #221f1f;
    padding: 8px;
    font-size: 18px;
    text-align: left;
    outline: none;
    
}

.swap-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    position: relative;
}

#swap {
    background: transparent;
    border: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

#exchange-rate {
    margin-top: 10px;
    font-size: 16px;
    color: #161616;
}
